@font-face {
    font-family: 'button';
    src: url('../../public/Fonts/Goldoni-65vo.ttf');
}

@font-face {
    font-family: 'paragraph';
    src: url('../../public/Fonts/Goldoni-65vo.ttf');
}


.agency-container {
  position: relative;
  min-height: 100vh;       /* gives parent a fixed height */
  width: 100%;
}

.heading1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 6rem;
  font-family: paragraph;
  line-height: 1;
  text-align: center;
  z-index: 2;
  width: 100%;
}


.image {
  position: absolute;
  top: 5vh;           /* now only image moves, not others */
  left: 20vw;
  height: 40vh;
  width: 25vw;
  z-index: 1;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  transition: opacity 0.5s ease;
}

.paragraph {
  font-size: 1.5rem;
  font-family: paragraph;
  padding-top: 90vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

